<!DOCTYPE html>
<html ng-app="myApp">
    <body>
    <div class="box">
        <div class="container">
            <div class="top-header">
                <header>Bharat Bijili Corporation</header>
                <!-- <header>Login</header> -->
            </div>
            <!-- <form> -->
            <div class="input-field">
                <input type="text" class="input" placeholder="EmployeeID" name="EmployeeId" required [(ngModel)] = "model.EmployeeId"  >
                <i class="bx bx-user"></i>
            </div>
            <div class="input-field">
                <input type="password" class="input" placeholder="OTP" name="OTP" required [(ngModel)] = "model.OTP">
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-field">
                <input type="submit"  value="Login" (click)= loginUser() >
            </div>
        <!-- </form> -->

            <div class="bottom">
                <div class="left">
                    <!-- <input type="checkbox"  id="check"> -->
                    <!-- <label for="check"> Remember Me</label> -->
                </div>
                <div class="right">
                    <!-- <label><a href="#">Forgot password?</a></label> -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
