<div class="invoice-list">
    <h1 class="invoice-list-header">Transaction History</h1>
    <div class="search-bar">
      <input
        type="text"
        placeholder="Search by Customer ID or Status"
        [(ngModel)]="customerId" class="search-input"
        class="search-input"
      />
      <button (click)="search()" class="search-button">Search</button>
    </div>
    <table class="invoice-table">
      <thead>
        <tr>
          <!-- <th>Name</th> -->
          <th>Customer ID</th>
          <!-- <th>Email</th> -->
          <th>Amount Due</th>
          <th>Due Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices" class="invoice-row" [ngClass]="{'status-p': invoice.status === 'P', 'status-np': invoice.status === 'NP' || !invoice.status}">
          <!-- <td>{{ invoice.name }}</td> -->
          <td>{{ invoice.customerId }}</td>
          <!-- <td>{{ invoice.email }}</td> -->
          <td>{{ invoice.amountDue | currency: 'INR' }}</td>
          <td>{{ invoice.dueDate | date: 'MM/dd/yyyy' }}</td>
          <td>{{ invoice.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  