<div class="header">
    <div class="menu-icon">
      <button  class="menu-button" (click)="toggleSidebar()">
        <span>&#9776;</span>
      </button>
    </div>
    <div class="user-menu">
      <button class="user-button">
        <!-- <img src="./assets/user.jpg" alt="" class="user-image" /> -->
        <span>User Name</span>
        <span class="arrow-down">&#9660;</span>
      </button>
      <div class="dropdown-content">
        <a href="/login">Logout</a>
      </div>
    </div>
  </div>
  